- title "SNP rs#{@snp.rs_number}"

.show_model

  %h1
    :plain
      SNP #{@snp.rs_number}

  = partial 'shared/ncbi_url', locals: {object: @snp}

  %table.attribute_table
    %tbody
      = row_for_attribute @snp, :ancestral_allele
      = row_for_attribute @snp, :refSNP_alleles, label: 'refSNP Alleles' do
        = @snp.refSNP_alleles.join('/')
      = row_for_attribute @snp, :alleles do
        = partial 'alleles/alleles', locals: {alleles: @snp.alleles}
      = row_for_attribute @snp, 'base_positions (+/-1 )' do
        = partial 'assemblies/assemblies', locals: {assemblies: @snp.assemblies}
      = row_for_attribute @snp, :chromosome
      = row_for_attribute @snp, :gene do
        = link_to @snp.gene_symbol, url(:genes, :show, id: @snp.ncbi_gene_id) if @snp.gene_symbol
      = row_for_attribute @snp, :het_uncertainty
      = row_for_attribute @snp, :heterozygosity
      = row_for_attribute @snp, :min_success_rate
      = row_for_attribute @snp, :max_success_rate
      = row_for_attribute @snp, :minor_allele_frequency, label: 'Minor Allele Frequency' do
        == #{@snp.minor_allele}=#{@snp.minor_allele_frequency}
      = row_for_attribute @snp, :modification_date
      = row_for_attribute @snp, :modification_build
      = row_for_attribute @snp, :ncbi_id,            label: 'RS number'
      = row_for_attribute @snp, 'Protein accession' do
        = @snp.protein_accession_str
      = row_for_attribute @snp, :snp_class,          label: 'SNP class'
      = row_for_attribute @snp, :taxonomy do
        = @snp.taxonomy.scientific_name
    %tfoot
      = row_for_updated_from_ncbi_at @snp
