- title "SNP rs#{@snp.rs_number}"

.show_model

  %h1
    :plain
      SNP #{@snp.rs_number}

  = partial 'shared/ncbi_url', locals: {object: @snp}

  %table
    %tbody
      = row_for_attribute @snp, :accession, pending: true
      = row_for_attribute @snp, :allele, pending: true
      = row_for_attribute @snp, :base_position, pending: true
      = row_for_attribute @snp, :chromosome
      = row_for_attribute @snp, :function_class, pending: true
      = row_for_attribute @snp, :gene do
        = link_to @snp.gene_symbol, url(:genes, :show, id: @snp.ncbi_gene_id)
      = row_for_attribute @snp, :het_uncertainty
      = row_for_attribute @snp, :heterozygosity
      = row_for_attribute @snp, :min_success_rate
      = row_for_attribute @snp, :max_success_rate
      = row_for_attribute @snp, :reference_assembly
      = row_for_attribute @snp, :ncbi_id,            label: 'RS number'
      = row_for_attribute @snp, :snp_class,          label: 'SNP class'
      = row_for_attribute @snp, :taxonomy do
        = @snp.taxonomy.scientific_name
    %tfoot
      = row_for_updated_from_ncbi_at @snp
