- title "Genome project: #{@genome_project.name}"

.show_model

  %h1
    :plain
      Genome Project: #{@genome_project.name}

  = partial 'shared/ncbi_url', locals: {object: @genome_project}

  %table.attribute_table
    %tbody
      = row_for_attribute @genome_project, :sequencing_centers do
        %ul
          - @genome_project.sequencing_centers.each do |sequencing_center|
            %li= sequencing_center
      = row_for_attribute @genome_project, :sequencing_status
      = row_for_taxonomy @genome_project
    %tfoot
      = row_for_updated_from_ncbi_at @genome_project
