- title 'Gene search'

.search_model

  %h1 Search Genes

  = form_tag url_for(:genes_search), method: :get do
    = search_field_tag 'q', value: @term, id: 'q', size: 30, placeholder: 'Symbol, name, protein, loc'
    = submit_tag :Search

  = partial 'shared/locate_form', locals: {url_name: :genes_search, location: @location || {}}

  - if @gene_search_results
    %h2#found= 'Found ' + pluralize(@gene_search_results.size, 'gene')
    %ol
      - @gene_search_results.each do |gene|
        %li
          %table.attribute_table
            %caption
              = link_to highlight(gene.symbol, @term), url(:genes, :show, id: gene.ncbi_id)
              - if gene.discontinued
                %span.discontinued= 'DISCONTINUED'
              = partial 'shared/ncbi_url', locals: {object: gene}
            %tbody
              = row_for_attribute gene, :description, highlight: @term
              = row_for_attribute gene, :location, highlight: @term
              = row_for_attribute gene, :symbols_other, highlight: @term do
                = gene.symbols_other.join(', ')
              = row_for_attribute gene, :other
