- title "Gene #{@gene.symbol}"

.show_model

  %h1
    :plain
      Gene #{@gene.symbol}: #{@gene.name}

  = partial 'shared/ncbi_url', locals: {object: @gene}

  %table
    %tbody
      = row_for_attribute @gene, :diseases do
        %ul.bullet_list.hanging_indent
          - @gene.diseases.each do |disease|
            %li= disease
      = row_for_attribute @gene, :location
      = row_for_attribute @gene, :mim,           label: 'MIM'
      = row_for_attribute @gene, :protein_name
      = row_for_attribute @gene, :sequence_range do
        :plain
          #{@gene.sequence_range} (+/-1)
      = row_for_attribute @gene, :sequence_length
      = row_for_attribute @gene, :symbols do
        %ul
          - @gene.all_symbols.each do |symbol|
            %li= symbol
      = row_for_taxonomy @gene
    %tfoot
      = row_for_updated_from_ncbi_at @gene
