!!! 5
%html
  %head
    = stylesheet_link_tag 'screen'
    %title
      :plain
        SNP Crackle Pop - #{yield_content :title}
  %body
    %nav#menu_bar
      %ul
        %li#title= link_to 'SNP Crackle Pop', '/'
        %li#polymorphic_search= partial 'home/polymorphic_search'
    #main= yield
    #footer
      #version= partial 'home/version'
